@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Manrope', sans-serif;
  }

@layer base {
  :root {
    --destructive-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 95%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 98%;
    --accent-foreground: 0 0% 90%;
    --muted-foreground: 0 0% 90%;
    --card-foreground: 0 0% 95%;
    --destructive: 0 84% 45%;
    --background: 240 5% 6%;
    --foreground: 0 0% 98%;
    --secondary: 240 3% 25%;
    --popover: 240 5% 7%;
    --primary: 240 5% 15%;
    --border: 240 5% 48%;
    --accent: 240 3% 30%;
    --muted: 240 3% 21%;
    --input: 240 5% 31%;
    --card: 240 5% 10%;
    --ring: 240 5% 7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}